
@{
    ViewData["Title"] = "About";
    Layout = "_Layout";
}

<h1>About</h1>

<p>
    At PUPPY Credit Union, we have a clear purpose to help make financial lives better through the power of every connection.
    We fulfill this purpose through a strategy of responsible growth, which includes a focus on environmental, social and governance leadership.
    <br /><br />
    Every day, we provide unmatched convenience in the United States, serving approximately 67 million consumer and small business clients.
    PUPPY Credit Union is a global leader in wealth management, corporate and investment banking and trading across a broad range of asset classes,
    serving corporations, governments, institutions and individuals around the world. The company serves clients through operations in all 50 states,
    the District of Columbia, the U.S. Virgin Islands, Puerto Rico and more than 35 countries.
</p>
<br />
<div class="accordion border-dark" id="accordianBenefits">
    <div class="card border-bottom">
        <button class="btn btn-light card-header" id="headingOne" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h2>Benefits</h2>
        </button>
        <div id="collapseOne" class="collapse hide" aria-labelledby="heading" data-parent="#accordianBenefits">
            <div class="card-body">
                <h3>PUPPY Credit Union Benefits</h3>
                <p>
                    PUPPY is more than an alternative to a traditional bank; we're a credit union, a not-for-profit financial institution whose members are our stakeholders.
                    We work hard to not only save you money, but help you earn more too.
                </p>
                <h3>High Interest Checking & Savings</h3>
                <p>
                    You work hard for your money, wouldn't you like a checking or savings account that helps you earn a little more? At PUPPY, we offer:
                    <ul>
                        <li>6.17% APY on Member Advantage Savings Accounts (up to $500)*</li>
                        <li>4.07% APY on Member Advantage Checking Accounts (up to $500)*</li>
                    </ul>
                </p>
                <h3>No Fees</h3>
                <p>
                    Everyone dislikes fees, and at PUPPY, we do too.  A few of our popular non-fees include:
                    <ul>
                        <li>No minimum balance fee</li>
                        <li>No monthly maintenance fee</li>
                    </ul>
                </p>
                <h3>Credit Cards</h3>
                <p>
                    Our credit cards offer some of the lowest rates in the country.
                    <ul>
                        <li>No annual fees**</li>
                        <li>No foreign transaction fees**</li>
                        <li>0% introductory APR on purchases and balance transfers for first 12 months***</li>
                    </ul>
                </p>
                <h3>Auto Loans</h3>
                <p>
                    PUPPY offers competitive interest rates, helpful online tools and extra protections.
                    <ul>
                        <li>Low rates on new and used cars</li>
                        <li>PUPPY indirect dealer financing</li>
                        <li>Auto buying services</li>
                        <li>Boat, Motorcycle and RV loans too!</li>
                    </ul>
                </p>
                <h3>Mortgage Loans</h3>
                <p>
                    We offer competitive rates, a wide variety of mortgage products,
                    limited grants for first-time home buyers and no origination fees.
                    <ul>
                        <li>No Home Loan Origination Fee on conventional mortgage loans</li>
                        <li>Low rates</li>
                    </ul>
                </p>
                <h3>Financial Health & Education</h3>
                <p>
                    <ul>
                        <li>Free financial health check</li>
                        <li>Dozens of financial guidance articles</li>
                        <li>Free webinars, seminars and self-paced financial education courses</li>
                    </ul>
                </p>
                <h3>Events & Discounts</h3>
                <p>
                    <ul>
                        <li>Save on tickets to Home and Auto Shows</li>
                        <li>Discounts to sporting events</li>
                        <li>Seasonal events like the Washington State Fair and Water Waves</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>
<br />