
@{
    ViewData["Title"] = "Contact";
    Layout = "_Layout";
}
<div class="text-center">
    <h1>Contact</h1>
    <br />
    <h3>Phone</h3>
    <p>
        <strong>Morning (4:00AM-11:59AM):</strong><br />
        (257) 563 - 7401<br />
        <strong>Evening (12:00PM-3:59AM):</strong><br />
        (372) 587 - 2335<br />
        <strong>24-Hours:</strong> (786) 713 - 8616
    </p>
    <h3>Mailing</h3>
    <p>
        <em class="text-danger"><b>Note:</b> Please mail to closest address to your location.</em><br />
        <strong>Address #1:</strong><br />
        P.O. Box 283 8562 Fusce Rd.<br />
        Frederick, Nebraska 20620<br />
        <strong>Address #2:</strong><br />
        P.O. Box 887 2508 Dolor. Av.<br />
        Muskegon, KY 12482
    </p>
    <h3>Complaints</h3>
    <p>
        <strong>Phone:</strong> (425) 235 - 2352<br />
        <strong>Fax:</strong> (425) 235 - 7832<br />
        <strong>Address:</strong> 3000 NE 4th St<br />
        Renton, WA 98056
    </p>
</div>