
@{
    ViewData["Title"] = "Privacy";
    Layout = "_Layout";
}
<h1>PUPPY Online Privacy Notice</h1>
<h3>Summary</h3>
<p>
    Information Collected by PUPPY
    <ul>
        <li>If you use PUPPY's websites, mobile applications, or other services, PUPPY may collect information about you, including your personal information, information from your mobile device, information about your communications with PUPPY member service representatives, and other information.</li>
        <li>We may collect information from a variety of sources , including from you directly, from your use of the PUPPY financial services, from your communications with PUPPY member service representatives, and from third party sources.</li>
    </ul>
</p>
<h3>How PUPPY Uses and Shares Collected Information</h3>
<p>
    <em class="text-danger"><b>Note:</b> We do sell your information to Third Party Customers.</em>
    <ul>
        <li>We may use information we collect from you to provide you with financial services, to provide you with member service, to communicate with you about your account, to offer you products or services, and for other purposes.</li>
        <li>We may use information we collect from you to provide you with financial services, to provide you with member service, to communicate with you about your account, to offer you products or services, and for other purposes.</li>
        <li>We may share aggregated data (which excludes your personal information) with our business partners and other third parties.</li>
    </ul>
</p>
<h3>Correcting Personal Information and Opting Out</h3>
<p>
    <em class="text-danger"><b>Note:</b> We will still keep selling your information even if you opt out.</em>
    <ul>
        <li>You may review and update certain personal information by signing in to your account or by contacting us.</li>
        <li>You may opt out of receiving certain communications from PUPPY, such as communications regarding marketing or promotions, by clicking on the email opt out link.</li>
    </ul>
</p>
<h3>Safeguarding Your Information</h3>
<p>
    <ul>
        <li>PUPPY is committed to maintaining the security of the data you provide us. However, please note that there is always some risk in transmitting information over the Internet.</li>
    </ul>
</p>
<h3>Your California Privacy Rights</h3>
<p>
    <ul>
        <li>California residents have the right to request and receive certain information about our disclosure of personal information to third parties for their own direct marketing purposes. However, because we will not share your personal information with our joint marketing partners without first giving you additional privacy choices, we are exempt from having to meet this requirement.</li>
    </ul>
</p>
<h3>Tracking and Analytics</h3>
<p>
    <ul>
        <li>The PUPPY websites currently do not respond to “Do Not Track” signals from browsers.</li>
        <li>We work with third-party analytics service providers, including but not limited to Google Adwords and Twitter Ads, to help us better understand how you use PUPPY websites.</li>
        <li>Third parties may collect certain information on third-party websites where PUPPY advertises; however, we do not allow third parties to collect our users' personal information on our websites or through our online services.</li>
    </ul>
</p>
<h3>Exclusions</h3>
<p>
    <ul>
        <li>This Privacy Notice does not apply to websites owned by other companies.</li>
        <li>We do not seek to collect, nor do we knowingly collect, information from children under 13.</li>
        <li>If you are located outside of the United States and are using the financial services, you consent to our transfer, processing, and storage of your information in the United States.</li>
    </ul>
</p>
<h3>Contact Us</h3>
<p>
    <ul>
        <li>Contact info, Mailing Addresses, and Complaints can be found <a asp-area="" asp-controller="Home" asp-action="Contact">here</a>.</li>
    </ul>
</p>
<h3>Updates to Privacy Notice</h3>
<p>
    <ul>
        <li>If we update this Privacy Notice, we will note at the top of this page the date that any changes are made or become effective.</li>
        <li>Your inaction or continued use of the financial services, including access to the PUPPY websites, after any such updates or notices will tell us that you agree to these changes.</li>
    </ul>
</p>
<br />